Repository aws/aws-lc, pull requests merged in 2022-10, with the labels that each got.

#642 Speed up the PBKDF self-test (2 iterations instead of 4096).
  crypto/fipsmodule/self_check/self_check.c
Labels: enhancement, FIPS

#636 Approve SHA-512/256 for HMAC and Digest signing/verifying
  crypto/fipsmodule/service_indicator/service_indicator.c
  crypto/fipsmodule/service_indicator/service_indicator_test.cc
Labels: FIPS

#638 Minor service indicator test improvements
  crypto/fipsmodule/service_indicator/service_indicator_test.cc
Labels: FIPS

#630 Move EVP API for HKDF into the FIPS boundary
  crypto/CMakeLists.txt
  crypto/evp_extra/p_methods.c
  crypto/fipsmodule/bcm.c
  crypto/fipsmodule/evp/evp_ctx.c
  crypto/fipsmodule/evp/internal.h
  crypto/fipsmodule/evp/p_hkdf.c
  crypto/fipsmodule/hkdf/hkdf.c
  crypto/fipsmodule/service_indicator/service_indicator_test.cc
Labels: FIPS

#649 Deterministic IV for VPC
  crypto/cipher_extra/aead_test.cc
  crypto/fipsmodule/cipher/aead.c
  include/openssl/aead.h
Labels: FIPS, feature
